.input__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input__labels{
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.25rem;
    transform: translateY(2.7rem);
    opacity: 0.5;
    transition: 300ms transform ease-out;
}


.input__label{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color-1);
}

.input__container:focus-within
.input__labels,
.input__container.filled
.input__labels{
    transform: translateY(0.5rem);
    opacity: 1;
}

.input__label--error{
    color: var(--error-color);
}

.input__input{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid var(--outline-color-1);
    padding-inline: 0.25rem;
}

.input__input:focus-within{
    border-bottom: 2px solid var(--element-color-2);
}

.input__input--error{
    border-bottom: 2px solid var(--error-color) !important;
}

.input__input--error .input__input-itself{
    color: var(--error-color);
}

.input__input-itself{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text-color-1);
    font-weight: 500;
}

.input--lock{
    position: relative;
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1;
}

.input--lock-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-1);
}

.input__input--error .input--lock-icon{
    color: var(--error-color);
}

