.guides-page__main{
    width: 100%;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem 1rem;
}

.guides-page__guides{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.make-admin__form{
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;
}