.form__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form__header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
}

.form__heading{
    color: var(--text-color-1);
    font-size: 2.5rem;
    font-weight: 600;
}

.form__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.form__error{
    font-size: 1.5rem;
    color: var(--error-color);
    font-weight: 600;
}