.logo__container{
    position: relative;
    height: 4rem;
    aspect-ratio: 1;
}

.logo__logo-itself{
    color: var(--element-color-3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}