.create-guide__modal{
    position: relative;
    z-index: 2;
    background-color: var(--element-color-1);
    padding: 2rem;
    padding-top: 3rem;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--outline-color-1);
    box-shadow: 0 0 8px var(--outline-color-1);
    border-radius: 7px;
    animation: sizeIn 300ms linear 0ms forwards;
}