.loading-icon__container{
    position: relative;
    height: 2rem;
    aspect-ratio: 1;
}

.loading-icon-itself{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-2);
    animation: loading 2000ms linear 0ms infinite;
}

@keyframes loading {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}