.register__modal{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    padding-top: 3rem;
    background-color: var(--element-color-1);
    border-radius: 10px;
    border: 1px solid var(--outline-color-1);
    box-shadow: 0 0 12px var(--outline-color-1);
    animation: sizeIn 300ms linear 0ms forwards;
}