.nav{
    width: 100%;
    height: 6rem;
    border-bottom: 2px solid var(--outline-color-1);
    background-color: var(--background-color);
}

.nav__inner-container{
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav__logo-wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nav__website-title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--element-color-3);
}

.nav--right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav__button{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-color-1);
    text-decoration: none;
    border: none;
    outline: none;
    background-color: var(--background-color);
    cursor: pointer;
    height: 100%;
    padding-inline: 1rem;
}

.nav__button:hover{
    filter: brightness(0.96);
}

.nav__button:active{
    filter: brightness(0.95);
}

